body {
  padding: 0px;
  background-color: #fbfbfb;
}

.btn {
  border: none;
  border-radius: 15px;
  background: #1473e6;
  color: white;
  height: 50px;
  width: 150px;
  font-size: 18px;
  line-height: 50px;
  margin-top: 10px;
}
.btn:hover {
  background: #0b7dda;
}

.resultss {
  border-radius: 15px 50px;
  background: #345fe4;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.container {
  text-align: center;
}
.card {
  margin-top: 30px;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #d4d4d4;
  width: 500px;
}
.msg-title {
  text-align: left;
  color: #545454;
  margin-left: 20px;
}
.message {
  background: white;
  padding: 20px;
  resize: none;
}
